.form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid var(--primary-border-color);
  border-radius: 0.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formGroup label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.formGroup input {
  padding: 0.5rem;
  border: 1px solid var(--primary-border-color);
  border-radius: 0.25rem;
}

.input.error {
  border-color: var(--error-border-color);
  background-color: var(--error-bg-color);
}

.error {
  color: var(--error-text-color);
  font-size: 0.9rem;
  margin-top: 0.25rem;
}
